html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
em, img,
dl, dt, dd, ol, ul,
fieldset, form, label, table, footer, 
audio, video, .fa, img:hover, .active,
.imgflex, .imggrid1, .imggrid2, .imggrid3
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: white;
	color: black;
	text-transform: none;
	font-weight: normal;
	text-align: left;
	animation: none;
	border-radius: 0px;
	background-image: none;
}

nav {
	font-weight: normal;
	text-align: left;
	text-transform: none;
	color: black;
}

.backgroundimg, .backgroundimg > p {
	background: white;
	color: black;
	animation: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
