@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html {
	background: url('images/background.jpeg') no-repeat center center fixed; 
}

.fa {
	display: inline;
}

body {
	font-family: 'Rubik', 'Times New Roman';
	margin:1%;
	padding:1%;
	font-size:150%;
}

h1{
	font-size: 2em;
	font-weight: bold;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 10px;
	border-radius: 25px;
}

img:hover {
	width: 400px;
	border-radius: 0px;
}

.active{
	text-align: center;
	background: #ECFF4D;
	text-transform: uppercase;
	color: #0000FF;
}

.active a{
	text-decoration: none;;
}

.one{
	background: white;
	color: black;
}

.two{
	background: black;
	color: white;
}

.three{
	background: #F21010;
	color: #F2EB10;
}

.four{
	background: black;
	color: #10B5F2;
}

.five{
	background: #FFA500;
}

p, h1 {
	padding: 25px;
	
}

header, nav, main, h1, footer{
	border:2px solid black;
	margin: 10px 0;
}

nav li{
 	padding:10px;
 	width:25%;
 	border:5px dotted black;
 	display: inline-block;
}

/*#anim {
    animation: 5s linear 0s 1 mymove;
}*/
a{color:inherit}
a:visited{color:inherit}

@media screen and (prefers-reduced-motion: reduce) {
        #anim {
            animation: none;
        }
    }
