@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.fa {
	display: inline;
}

body {
	font-family: 'Rubik', 'Times New Roman';
	margin:0px;
	padding:0px;
	font-size:150%;
	line-height: 1.2;
}

h1 {
	margin: 1%;
	font-size: 2em;
	font-weight: bold;
}

img, img:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

img {
	height: 200px;
	border-radius: 25px;
}

img:hover {
	height: 400px;
	border-radius: none;
	border: none;
	
}

.active{
	background: #ECFF4D;
	text-transform: uppercase;
	color: #0000FF;
	font-weight: bold;
	font-family: 'Rubik', 'Times New Roman';
}

.active, li{
 	padding:10px;
 	width:25%;
 	border:5px dotted black;
 	display: inline-block;
	text-align: center;
}

.active a{
	text-decoration: none;;
}

h1, p {
	padding:1%;
}

header, main, h1, footer{
	margin: 10px 0;
	border:2px solid black;
}

main {
	padding: 3%;
	font-size:125%;
}

p {
	margin: 3%;
}

.foot {
	margin: 0px;
}

nav {
	display: block;
	text-align: center;
	margin: auto;
	padding: 1%;
	line-height: 1.2;
	color: blue;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    text-align: center;
}

li{
 	padding:10px;
 	width:25%;
 	border:5px dotted black;
 	display: inline-block;
	text-align: center;
}

.backgroundimg, .backgroundimg > p {
	background: black url('../images/stripes.png') space center center fixed;
	color: white;
	animation: animatedBackground 5s linear 0s 1 alternate;
	font-family: "Helvetica";
	font-weight: bold;
}

.blaze, .blaze > p {
	background: rgb(214, 0, 33);
	color: rgb(239, 198, 18);
	font-weight: bold;
	font-family: "Oswald";
}

.move, .move > p {
	background: black;
	color: rgb(178, 66, 26);
	font-weight: bold;
	font-family: "Abril Fatface";
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 50px;
    width: 100%;
  }
}

#anim{
	animation-duration: 2s;
        animation-name: slide;
}

a:visited{color:blue}

 a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

.imgflex {
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
	flex-shrink: 1;
	background: rgb(214, 0, 33);
}

.imggrid1, .imggrid2, .imggrid3 {
	background: black;
	justify-items: center;
}

.imggrid1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 50px;
}

.imggrid2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 50px;
}

.imggrid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
}

.flip-card {
	background-color: transparent;
	height: 200px;
	width: 170px;
	perspective: 1000px;
	border-radius: 25px;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	ansition: transform 0.5s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: black;
	color: white;
}

/* Style the back side */
.flip-card-back {
	background-color: black;
	color: white;
	transform: rotateY(180deg);
}

@media screen and (prefers-reduced-motion: reduce) {
        #anim {
            animation: none;
        }
	.backgroundimg {
		background-attachment: scroll;
	}
	img:hover {
		height: inherit;
		border-radius: inherit;
	}
	.flip-card {
		perspective: none;
}
    }

@media only screen and (min-width: 600px) {
	body {
		margin:1%;
		padding:1%;
	}
	main {
		font-size:150%;
	}
}

@media only screen and (min-width: 768px) {
	  
}
