@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.fa {
	display: inline;
}

body {
	font-family: 'Rubik', 'Times New Roman';
	margin:1%;
	padding:1%;
	font-size:150%;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 10px;
	border-radius: 25px;
}

img:hover {
	width: 400px;
	border-radius: 0px;
}

.active{
	text-align: center;
	background: #ECFF4D;
	text-transform: uppercase;
	color: #0000FF;
}

.active a{
	text-decoration: none;;
}

h1, p {
	padding:25px;
}

header, nav, main, h1, footer{
	border:2px solid black;
	margin: 10px 0;
}

p {
	margin: 50px;
}

nav li{
 	padding:10px;
 	width:25%;
 	border:5px dotted black;
 	display: inline-block;
}

#backgroundimg {
	background: black url('../images/stripes.png') space center center scroll;
	color: white;
	animation: animatedBackground 5s linear 0s infinite alternate;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 50px;
    width: 100%;
  }
}

#anim{
	animation-duration: 2s;
        animation-name: slide;
}

a:visited{color:blue}

@media screen and (prefers-reduced-motion: reduce) {
        #anim {
            animation: none;
        }
    }
